@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400&display=swap');
@import "@fortawesome/fontawesome-free/css/all.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    /* Body */

    body{
        font-family: 'Lato', sans-serif;
        @apply text-black;
        @apply bg-white;
    }


    /*  Headings */

    h1{
        @apply text-5xl;
        @apply font-semibold;
        @apply py-5;
    }

    h2{
        @apply text-3xl;
        @apply font-semibold;
        @apply pt-5;
        @apply pb-5;
    }

    h3{
        @apply text-xl;
        @apply font-semibold;
        @apply pt-3;
        @apply pb-3;
    }

    /* Buttons */

    button,
    button[type=button],
    button[type=submit],
    .btn{
        @apply text-white;
        @apply hover:text-gray-200;
        @apply bg-blue-700;
        @apply hover:bg-blue-800;
        @apply focus:ring-1;
        @apply focus:ring-blue-300;
        @apply font-normal;
        @apply rounded;
        @apply text-sm;
        @apply px-3;
        @apply py-1;
    }

    .buttons-ml button,
    .buttons-ml button[type=button],
    .buttons-ml button[type=submit],
    .buttons-ml .btn{
        @apply ml-2;
    }

    .buttons-mr button,
    .buttons-mr button[type=button],
    .buttons-mr button[type=submit],
    .buttons-mr .btn{
        @apply mr-2;
    }

    .btn-cancel{
        @apply btn;
        @apply !text-gray-800;
        @apply !bg-white;
        @apply hover:!text-gray-700;
        @apply hover:!bg-gray-100;
    }

    .btn-cancel:before{
        font: var(--fa-font-solid);
        content: "\f05e"; /*  fa-ban */
        @apply mr-1;
    }

    .btn-success{
        @apply !bg-green-700;
        @apply hover:!bg-green-800;
    }

    .btn-plain{
        @apply !text-stone-500;
        @apply !text-xs;
        @apply !bg-gray-100;
        @apply hover:!bg-yellow-50;
        @apply hover:!text-stone-500;
        @apply !border;
        @apply !border-stone-300;
    }

    .btn-black{
        @apply !text-white;
        @apply !text-sm;
        @apply !bg-gray-900;
        @apply hover:!bg-gray-800;
        @apply hover:!text-gray-100;
        @apply !border;
        @apply !border-stone-300;
        @apply !py-2;
        @apply !uppercase;
    }


    /* Forms */

    .form-block{
        @apply mb-6;
    }

    label{
        @apply block;
        @apply mb-2;
        @apply text-sm;
        @apply font-medium;
        @apply text-gray-500;
    }
    
    input[type=text],
    input[type=email],
    input[type=password]{
        @apply border;
        @apply text-sm; 
        @apply rounded-lg; 
        @apply block;
        @apply w-full; 
        @apply p-2.5;
        @apply bg-gray-700;
        @apply border-gray-600;
        @apply placeholder-gray-400;
        @apply text-white;
        @apply focus:ring-blue-500;
        @apply focus:border-blue-500;
    }

    input[type=text].public-input,
    input[type=email].public-input,
    input[type=password].public-input{
        @apply !bg-gray-50;
        @apply !rounded;
        @apply !border;
        @apply !border-gray-300;
        @apply focus:!border-sky-400;
        @apply !p-2;
        @apply !text-sm;
        @apply !text-gray-500;
        @apply !outline-0;
    }

    

    input[type=file]{
        @apply block;
        @apply w-full;
        @apply text-gray-900;
        @apply bg-gray-50;
        @apply rounded-lg;
        @apply border;
        @apply border-gray-300;
        @apply cursor-pointer;
        @apply dark:text-gray-400;
        @apply focus:outline-none;
        @apply dark:bg-gray-700;
        @apply dark:border-gray-600;
        @apply dark:placeholder-gray-400;
        @apply p-2;
    }

    input[type=checkbox]{
        @apply w-4;
        @apply h-4;
        @apply mr-5;
        @apply text-blue-600;
        @apply bg-orange-300;
        @apply rounded;
        @apply border-gray-300;
        @apply focus:ring-blue-500;
        @apply focus:ring-2;
    }

    input[type=radio]{
        @apply w-4;
        @apply h-4;
        @apply mr-4;
        @apply text-blue-600;
        @apply bg-gray-100;
        @apply border-gray-300;
        @apply focus:ring-transparent;
        @apply dark:bg-gray-700;
        @apply dark:border-gray-600;
    }

    textarea{
        @apply block;
        @apply p-2.5;
        @apply w-full;
        @apply text-sm;
        @apply text-gray-900;
        @apply bg-gray-50;
        @apply rounded-lg;
        @apply border;
        @apply border-gray-300;
        @apply focus:ring-blue-500;
        @apply focus:border-blue-500;
        @apply dark:bg-gray-700;
        @apply dark:border-gray-600;
        @apply dark:placeholder-gray-400;
        @apply dark:text-white;
        @apply dark:focus:ring-blue-500;
        @apply dark:focus:border-blue-500;
    }

    select{
        @apply bg-gray-50;
        @apply border;
        @apply border-gray-300;
        @apply text-gray-900;
        @apply text-sm;
        @apply rounded-lg;
        @apply focus:ring-blue-500;
        @apply focus:border-blue-500;
        @apply flex;
        @apply w-full;
        @apply p-2.5;
        @apply dark:bg-gray-700;
        @apply dark:border-gray-600;
        @apply dark:placeholder-gray-400;
        @apply dark:text-white;
        @apply dark:focus:ring-blue-500;
        @apply dark:focus:border-blue-500;
    }

    select.public-select{
        @apply !bg-gray-50;
        @apply !rounded;
        @apply !border;
        @apply !border-gray-300;
        @apply focus:!border-sky-400;
        @apply !p-2;
        @apply !text-sm;
        @apply !text-gray-500;
        @apply !outline-0;
    }

    select:invalid{ 
        @apply text-gray-400;
    }

    /* Text */

    p{
        @apply mb-3;
    }
  
    blockquote{
        @apply text-2xl;
        @apply italic;
        @apply font-semibold;
        @apply border-l-8;
        @apply border-l-orange-200;
        @apply py-8;
        @apply pl-6;
        @apply pr-3;
        @apply my-4;
        @apply bg-gray-50;
    }

    blockquote:before {
        color: #ccc;
        content: open-quote;
        font-size: 4em;
        line-height: 0;
        margin-right: 0.15em;
        vertical-align: -0.4em;
      }

   

    hr{
        @apply my-8;
        @apply border-gray-200;
    }

    a{
        @apply text-gray-500;
        @apply hover:!text-zinc-500;
    }

    .text-error{
        @apply mt-2;
        @apply text-xs;
        @apply font-light;
        @apply text-red-600;
        @apply dark:text-red-500;
    }

    .text-slug{
        @apply mt-2;
        @apply text-xs;
        @apply font-light;
        @apply text-green-600;
        @apply dark:text-green-500;
    }

    .text-input-advice{
        @apply mt-2;
        @apply text-sm;
        @apply text-gray-500;
        @apply dark:text-gray-300;
    }

    .no-results{
        @apply italic;
        @apply text-zinc-600;
    }

    .ul-o-2{
        @apply underline;
        @apply underline-offset-2;
    }

    /* Alerts */

    .alert{
        @apply p-4;
        @apply mb-4;
        @apply text-sm;
        @apply rounded-lg;
        @apply border;
    }

    .alert-success{
        @apply alert;
        @apply border-green-900;
        @apply bg-green-300;
        @apply text-green-900;
    }

    .alert-success::before{
        font: var(--fa-font-solid);
        content: "\f058"; /*  fa-circle-check */
        @apply mr-1.5;
    }

    .alert-warning{
        @apply alert;
        @apply border-yellow-900;
        @apply bg-orange-300;
        @apply text-yellow-900;
    }

    .alert-warning::before{
        font: var(--fa-font-solid);
        content: "\f05a"; /*  fa-info-circle */
        @apply mr-1.5;
    }

    .alert-heading{
        @apply alert;
        @apply border-gray-700;
        @apply bg-stone-900;
        @apply text-gray-300;
    }

    .alert-heading::before{
        font: var(--fa-font-solid);
        content: "\f0f3"; /*  fa-bell */
        @apply mr-1.5;
        @apply text-sky-500;
    }

    /*  Tables */

    table{
        @apply table-auto;
        @apply w-full;
    }

    th{
        @apply border-b;
        @apply border-gray-300;
        @apply font-medium;
        @apply text-sm;
        @apply p-4;
        @apply pl-8;
        @apply pt-0;
        @apply pb-3;
        @apply text-left;
        @apply text-gray-500;
    }

    tr{
        @apply border-b;
        @apply border-gray-200;
    }

    td{
        @apply p-4;
        @apply pl-8;
        @apply text-sm;
    }

    

    .profile-pic-medium-round{
        @apply w-36;
        @apply h-36;
        @apply mr-5;
        @apply p-px;
        @apply border;
        @apply border-white;
        @apply rounded-full;
    }

    .profile-pic-sm-round{
        @apply w-16;
        @apply h-16;
        @apply mr-5;
        @apply p-px;
        @apply border-2;
        @apply border-white;
        @apply rounded-full;
    }

    .profile-pic-xs-round{
        @apply w-6;
        @apply h-6;
        @apply mr-5;
        @apply p-px;
        @apply border;
        @apply border-white;
        @apply rounded-full;
    }



    /* Navigation */

    section#topNav{
        @apply flex;
        @apply px-8;
        @apply py-1.5;
        @apply bg-zinc-900;
        @apply text-zinc-500;
        @apply text-xs;
        @apply border-b;
        @apply border-zinc-700;
    }

    section#topNav a{
        @apply text-zinc-500;
    }

    #topNav>span{
        @apply mr-32;
    }

    section#topNav>.socials{
        @apply grow;
        @apply mr-0;
    }

    section#topNav>.socials>ul{
        @apply flex;
        @apply justify-end;
        @apply space-x-4;
    }

    .pre-navbar-item .temperature::after {
        content: ' ℃';
        font-size: 0.7em;
        vertical-align: top;
        margin-right: 1em;
        position: relative;
        top: 1px;
    }

    .pre-navbar-item.links ul {
        list-style-type: none;
    }

    .pre-navbar-item.links ul li {
        list-style-type: none;
        float: left;
        margin-right: 18px;
    }

    section#navigation{
        @apply flex;
        @apply px-8;
        @apply py-6;
        @apply bg-slate-900;
        @apply border-b;
        @apply border-zinc-700;
    }

    section#navigation>div{
        @apply bg-slate-900;
    }

    nav ul>li>a,
    nav ul>li>form>a{
        @apply bg-transparent;
        @apply block;
        @apply py-2;
        @apply pl-3;
        @apply pr-4;
        @apply rounded;
        @apply md:p-0;
        @apply uppercase;
        @apply font-medium;
        @apply text-zinc-100;
    }

    nav#primaryNav{

    }

    nav#secondaryNav{
        @apply pb-6;
        @apply text-xs;
    }


    /* Articles */

    .article-body{
        @apply px-2;
        @apply py-4;
    }

    .article-tags{
        @apply px-2;
        @apply mt-12;
        @apply mb-12;
        @apply flex;
        @apply items-center;
    }

    .article-tags>ul{
        @apply flex;
        @apply ml-5;
    }

    .article-tags>ul>li{
        @apply mr-3;
    }

    .article-tags>ul>li>a{
        @apply border;
        @apply border-zinc-200;
        @apply hover:bg-amber-50;
        @apply rounded;
        @apply px-3;
        @apply py-1.5;
    }

    .tabs a.author-btn{
        @apply block;
        @apply w-full;
        @apply py-2;
        @apply text-center;
        @apply uppercase;
        @apply text-sm;
        @apply text-white;
        @apply hover:!text-white;
    }

    .heading-mt{
        @apply mt-10;
    }

    .sidebar-module{
        @apply mb-12;
    }

    .comment-bubble{
        position: relative;
        border: 1px solid #f0f0f0;
    }

    .comment-bubble:after, .comment-bubble:before {
        right: 100%;
        top: 24px;
        border: 1px solid #f0f0f0;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .comment-bubble:after {
        border-color: rgba(136, 183, 213, 0);
        border-right-color: #fafafa;
        border-width: 9px;
        margin-top: -9px;
    }

    .comment-bubble:before {
        border-color: rgba(194, 225, 245, 0);
        border-right-color: #f0f0f0;
        border-width: 11px;
        margin-top: -11px;
    }

  

    .arrow{
        position: relative;
        margin-right: 25px;
        color: #ffffff;
        font-size: 11px;
        line-height: 12px;
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        padding: 8px 14px;
        padding-right: 17px;
        background: #f44336;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px;
        @apply w-32;
    }

    .arrow:after {
        content: '';
        position: absolute;
        width: 22px;
        height: 22px;
        background: #f44336;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 3px;
        right: -7px;
    }
    
}